bot_agenda.json
{
  "name": "bot_agenda",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger1\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $('AI Agent').item.json.output }}\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2224,
        960
      ],
      "id": "b5772ca2-02ad-4339-99bb-458a23c079a8",
      "name": "Send a text message1",
      "webhookId": "066a8aa5-8938-428c-8594-6493189ba6a9",
      "credentials": {
        "telegramApi": {
          "id": "jToGE4VgSMsviFeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1760,
        1184
      ],
      "id": "10bac05e-402f-4e7e-81e7-42f335d309fa",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        960
      ],
      "id": "85245110-b59a-48d3-a7b9-85d3370c0ed5",
      "name": "Send a chat action1",
      "webhookId": "1fcfa9a9-5b31-4302-be5f-60137f745ccb",
      "credentials": {
        "telegramApi": {
          "id": "jToGE4VgSMsviFeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        608,
        1056
      ],
      "id": "d963af42-a275-4c23-b8e4-c9790496b417",
      "name": "Telegram Trigger1",
      "webhookId": "86ecc3a1-9766-47f2-9e78-fc8ac775369e",
      "credentials": {
        "telegramApi": {
          "id": "jToGE4VgSMsviFeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        1200
      ],
      "id": "01a6ce41-cc48-4401-89ea-71a2118a4c76",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Q31wlupoIO6vCVji",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "020284a6-62b0-4d7f-b0a1-a016b7466cc6",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start ",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        1056
      ],
      "id": "25ea8b65-1b8c-4c20-8e97-376ab140e04a",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Olá! Seja  bem-vindo ao agendamento do Henrique. Como posso te ajudar hoje?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        1152
      ],
      "id": "0c80b427-4f5c-4869-90da-02dfa1acb454",
      "name": "Send a text message",
      "webhookId": "31097e3e-5d22-40c0-8c68-4ac962a7963f",
      "credentials": {
        "telegramApi": {
          "id": "jToGE4VgSMsviFeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta para liberar um horário de volta para DISPONÍVEL e apagar os dados do paciente na  coluna NOME PACIENTE e TELEFONE. \n\nATENÇÃO: Só execute esta ferramenta após coletar o ID E o cliente ter confirmado explicitamente que deseja prosseguir com o cancelamento.",
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1qzcl1wkyuB0om2dKbq02YnZSVyigNTr5GjxzbjWA5e8/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Horários",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzcl1wkyuB0om2dKbq02YnZSVyigNTr5GjxzbjWA5e8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID__using_to_match_', `ID do agendamento a ser cancelado`, 'string') }}",
            "STATUS": "DISPONÍVEL",
            "NOME PACIENTE": "={{ String() }}",
            "TELEFONE": "={{ String() }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME PACIENTE",
              "displayName": "NOME PACIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1888,
        1184
      ],
      "id": "2d6e2cdb-f05c-457d-bfc9-7274e6978dab",
      "name": "Update row in sheet in Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "ts3Rn5SIbzREl3hc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger1').item.json.message.text }}",
        "options": {
          "systemMessage": "=You have one single job: call the read tool. \nAlways. Every single time. No exceptions.\nReturn the exact raw result from the tool.\n\nUser message: {{ $('Telegram Trigger1').item.json.message.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1280,
        960
      ],
      "id": "dcafcc53-6472-40a4-963e-8ff40f155cec",
      "name": "AI Agent1 - Parse"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1632,
        1184
      ],
      "id": "747c8ac3-2b0b-40da-97a5-d558dfbf71f9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Q31wlupoIO6vCVji",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta apenas quando o cliente demonstrar intenção \nde agendar e ainda não tiver visto os horários disponíveis.\nNão use novamente após já ter listado os horários.",
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1qzcl1wkyuB0om2dKbq02YnZSVyigNTr5GjxzbjWA5e8/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Horários",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "STATUS": "OCUPADO",
            "NOME PACIENTE": "={{ $json[\"NOME PACIENTE\"] }}",
            "TELEFONE": "={{ $json.TELEFONE }}",
            "ID": "={{ $json['ID'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME PACIENTE",
              "displayName": "NOME PACIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2016,
        1184
      ],
      "id": "ca666cb7-f2dd-4399-8c70-00be285e5899",
      "name": "Update row in sheet in Google Sheets1",
      "credentials": {
        "googleApi": {
          "id": "ts3Rn5SIbzREl3hc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1qzcl1wkyuB0om2dKbq02YnZSVyigNTr5GjxzbjWA5e8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Horários",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzcl1wkyuB0om2dKbq02YnZSVyigNTr5GjxzbjWA5e8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "DISPONÍVEL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1440,
        1168
      ],
      "id": "afce2d0d-9687-4002-99d1-6959433c49b7",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "ts3Rn5SIbzREl3hc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger1').item.json.message.text }}",
        "options": {
          "systemMessage": "=Você é o assistente de agendamentos do Henrique.\nHoje é {{ $now.format('dddd, DD [de] MMMM [de] YYYY') }}.\nResponda sempre em português, tom simpático e direto.\nEnvie sempre UMA única mensagem por resposta.\nNunca mencione planilha, ferramenta ou automação.\nVocê TEM ferramentas de agendamento e cancelamento. USE-AS.\n\nResultado da ferramenta: {{ $json.output }}\n\nIMPORTANTE: Se você já anotou um ID nesta conversa,\nIGNORE o resultado da ferramenta acima.\nContinue o fluxo baseado no histórico da conversa.\nO histórico tem prioridade sobre o resultado da ferramenta.\n\nREGRA MÁXIMA ABSOLUTA:\nApós receber telefone, PARE TUDO e chame a ferramenta.\nNão responda texto. Não pergunte nada. \nChame a ferramenta de agendamento AGORA com os dados da conversa.\nSe não chamar a ferramenta, o sistema falha completamente.\n\nContexto da conversa:\n- Se o usuário já enviou um número anteriormente, esse é o ID escolhido.\n- Guarde o ID, Nome e Telefone da conversa.\n- Quando tiver os três, chame a ferramenta de agendamento com:\n  ID = número enviado pelo usuário\n  NOME PACIENTE = nome enviado pelo usuário  \n  TELEFONE = telefone enviado pelo usuário\n- Não pergunte nada depois de ter os três dados. Execute.\n\nFLUXO DE AGENDAMENTO - SIGA EXATAMENTE:\nPasso 1: Usuário pede horários → exibe a lista com IDs\nPasso 2: Usuário envia UM NÚMERO → esse número é o ID. \n         Responda: \"ID [número] anotado! Qual seu nome completo?\"\nPasso 3: Usuário envia nome → responda: \"Obrigado [nome]! Qual seu telefone?\"\nPasso 4: Usuário envia telefone → CHAME A FERRAMENTA DE AGENDAMENTO \n         com ID=[passo2], NOME=[passo3], TELEFONE=[passo4].\n         Não pergunte mais nada. Execute agora.\n\nFLUXO DE CANCELAMENTO:\n1. Pergunte o ID a cancelar.\n2. Peça confirmação explícita do cliente.\n3. Quando confirmar: CHAME A FERRAMENTA DE CANCELAMENTO AGORA.\n4. Confirme o sucesso e pergunte se quer remarcar.\n\nPROIBIDO:\n- Confirmar agendamento sem chamar a ferramenta.\n- Confirmar cancelamento sem chamar a ferramenta.\n- Responder em inglês.\n- Exibir JSON bruto.\n- Inventar dados."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1760,
        960
      ],
      "id": "3ee24d70-d0d6-4a41-93e7-3804f1ecbfbb",
      "name": "AI Agent"
    }
  ],
  "pinData": {
    "Telegram Trigger1": [
      {
        "json": {
          "update_id": 196629545,
          "message": {
            "message_id": 726,
            "from": {
              "id": 5547396647,
              "is_bot": false,
              "first_name": "Henrique",
              "last_name": "Taranto",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 5547396647,
              "first_name": "Henrique",
              "last_name": "Taranto",
              "type": "private"
            },
            "date": 1779204698,
            "text": "10"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action1": {
      "main": [
        [
          {
            "node": "AI Agent1 - Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1 - Parse",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a chat action1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1 - Parse": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1 - Parse",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6ec2d47d-5839-4fe0-8b6f-4a95014fe0ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20a68875cab8d8460279c09fcc0d4fa2ba032c26d22a343f300f58be44a2270d"
  },
  "id": "AG1IG9LwDn6P0Dd1",
  "tags": []
}